@font-face {
            font-family: Nunito;
            src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
        }

        @font-face {
            font-family: Nunito;
            src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
            font-weight: bold;
        }

        @font-face {
            font-family: Nunito;
            src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
            font-style: italic;
        }

        @font-face {
            font-family: Nunito;
            src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
            font-style: italic;
            font-weight: bold;
        }

        .thasadith-regular {
          font-family: "Thasadith", sans-serif;
          font-weight: 400;
          font-style: normal;
        }

        .thasadith-bold {
          font-family: "Thasadith", sans-serif;
          font-weight: 700;
          font-style: normal;
        }

        .thasadith-regular-italic {
          font-family: "Thasadith", sans-serif;
          font-weight: 400;
          font-style: italic;
        }

        .thasadith-bold-italic {
          font-family: "Thasadith", sans-serif;
          font-weight: 700;
          font-style: italic;
        }

        .instrument-serif-regular {
              font-family: "Instrument Serif";
              font-style: normal;
            }

        .instrument-serif-regular-italic {
            font-family: "Instrument Serif";
            font-weight: 400;
            font-style: italic;
        } */

         @national-park-medium {
            font-family: "National Park";
            src: url("NationalPark-Medium.woff");
            font-weight: normal;
         }

        @national-park-bold {
            font-family: "National Park";
            src: url("NationalPark-Bold.woff");
            font-weight: bold;
         }

         @national-park-variable {
            font-family: "National Park";
            src: url("NationalPark-VariableVF.woff");
            font-weight: 50px;
         }

        body {
            font-family: 'Thasadith', sans-serif;
            font-weight: 700;
            font-color: white;
            margin: 0;
<!--        letter-spacing: .5px;-->
            background-color: #2d6a02;
            /* you can delete the line below if you'd prefer to not use an image */
            background-size: 1000px;
            color: #abb6bc;
            background-image: var(--body-bg-image);
        }

        * {
            box-sizing: border-box;
        }

        /* below this line is CSS for the layout */

        /* this is a CSS comment
to uncomment a line of CSS, remove the * and the /
before and after the text */


        /* the "container" is what wraps your entire website */
        /* if you want something (like the header) to be Wider than
the other elements, you will need to move that div outside
of the container */
        #container {
            max-width: 1000px;
            /* this is the width of your layout! */
            /* if you change the above value, scroll to the bottom
  and change the media query according to the comment! */
            margin: 0 auto;
            /* this centers the entire page */
        }

        /* the area below is for all links on your page
EXCEPT for the navigation */
        #container a {
            color: #5184b3;
            /* if you want to remove the underline
  you can add a line below here that says:
  text-decoration:none; */
        }

        #header {
            width: 100%;
            background-color: #2d6a02;
            /* header color here! */
            height: 150px;
            /* this is only for a background image! */
            /* if you want to put images IN the header,
  you can add them directly to the <div id="header"></div> element! */
            background-image: var(--header-image);
            background-size: 100%;
            border-style: dashed;
            border-width: 1px;
            border-color: #0a130e;
        }

        /* navigation section!! */
        #navbar {
            height: 40px;
            background-color: #13092D;
            /* navbar color */
            width: 100%;
        }

        #navbar ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style-type: none;
            justify-content: space-evenly;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        ol {
            padding-left: 0px;
            margin-left: 0px;
            list-style-position: inside;
        }

        ul {
            padding-left: 0px;
            list-style-position: inside;
            text-align: center;
            margin-right: 0px;
            list-style-position: inside;
        }

        #navbar li {
            padding-top: 10px;
        }

        /* navigation links*/
        #navbar li a {
            color: #ED64F5;
            /* navbar text color */
            font-weight: 800;
            text-decoration: none;
            /* this removes the underline */
        }

        /* navigation link when a link is hovered over */
        #navbar li a:hover {
            color: #a49cba;
            text-decoration: underline;
        }

        #flex {
            display: flex;
        }

        /* this colors BOTH sidebars
if you want to style them separately,
create styles for #leftSidebar and #rightSidebar */
        aside {
            background-color: #1c5200;
            width: 200px;
            padding: 15px;
            font-size: smaller;
            /* this makes the sidebar text slightly smaller */
            border-style: solid;
            border-width: 1px;
            border-color: #0a130e;
        }


        /* this is the color of the main content area,
between the sidebars! */
        main {
            background-color: #1c5200;
            flex: 1;
            padding: 20px;
            padding-top: 0px;
            order: 2;
        }

        /* what's this "order" stuff about??
allow me to explain!
if you're using both sidebars, the "order" value
tells the CSS the order in which to display them.
left sidebar is 1, content is 2, and right sidebar is 3! */

       #leftSidebar {
            order: 1;
        }

        #rightSidebar {
            order: 3;
        }

        footer {
            background-color: #0a130e;
            /* background color for footer */
            width: 100%;
            height: 40px;
            padding: 10px;
            text-align: center;
            /* this centers the footer text */
        }

        h1,
        h2,
        h3 {
            font-family: 'Lastik', monospace;
            font-weight: normal;
            text-align: center;
            color: #c3d59f;
            letter-spacing: -.05em;
            -webkit-text-stroke-width: .02em;
            -webkit-text-stroke-color: black;
        }

        h1 {
            font-size: 350%;
        }

        h2 {
            font-size: 300%;
        }

        h3 {
            font-size: 200%;
        }

        strong {
            /* this styles bold text */
            color: #c3d59f;
        }

        /* this is just a cool box, it's the darker colored one */
        .box {
            background-color: #0a130e;
            border: 1px solid #0a130e;
            padding: 15px;
            padding-top: 0px;
            border-radius: 10px;
        }

        #box-left {
            background-color: #0a130e;
            border: 1px solid #0a130e;
            padding: 15px;
            padding-top: 0px;
            border-radius: 10px;
        }

        #box-left a {
            color: #e6eff4;
        }

        #box-left a:hover {
            color: #5184b3;
            text-decoration:none;
        }

        .box1 {
            background-color: #0a130e;
            border: 1px solid #0a130e;
            padding: 15px;
            padding-top: 60px;
            margin-top: 140px;
            border-radius: 10px;
        }

        .button {
          background-color: #04AA6D; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }

        /* pop-up text */
<!--        .imgtxt {-->
<!--          width: fit-content;-->
<!--          height: fit-content;-->
<!--          display: inline-block;-->
<!--          position: relative;-->
<!--          font-family: 'Lastik', sans-serif;-->
<!--        }-->

<!--        .imgtxt span {-->
<!--          opacity: 1;-->
<!--          position: absolute;-->
<!--          top: 50%;-->
<!--          left: 50%;-->
<!--          transform: translate(-50%, -50%);-->
<!--          z-index: 99;-->
<!--          font-size: 200%;-->
<!--          color: #c3d59f;-->
<!--          -webkit-text-stroke-width: .01px;-->
<!--          -webkit-text-stroke-color: black;-->
<!--          letter-spacing: -1.7px;-->
<!--        }-->
<!--        .imgtxt:hover span, .imgtxt:focus span {-->
<!--          opacity: 1;-->
<!--          color: #5184b3;-->
<!--        }-->
<!--        .imgtxt:hover img, .imgtxt:focus img {-->
<!--          /* add hover effects like transform or filter to your images here! */-->
<!--        }-->

        /* CSS for extras */

        #topBar {
            width: 100%;
            height: 30px;
            padding: 10px;
            font-size: smaller;
            background-color: #13092D;
        }

        /* BELOW THIS POINT IS MEDIA QUERY */

        /* so you wanna change the width of your page?
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the
"max-width" value below
*/

        @media only screen and (max-width: 900px) {
            #flex {
                flex-wrap: wrap;
            }

            aside {
                width: 100%;
            }

            /* the order of the items is adjusted here for responsiveness!
  since the sidebars would be too small on a mobile device.
  feel free to play around with the order!
  */
            main {
                order: 1;
            }

            #leftSidebar {
                order: 2;
            }

            #rightSidebar {
                order: 3;
            }

            #navbar ul {
                flex-wrap: wrap;
            }
        }
